*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    color: black;
    line-height: 1.5;
    font-size: 16px;

}
.container{
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* align-items: flex-end; */
    /* grid-template-rows: repeat(3, 1fr); */
}
.item{
    background-color: steelblue;
    color: wheat;
    font-size: 20px;
    padding: 20px;
    border: 1px solid skyblue;
}
.item:nth-of-type(1){
    background: black;
    grid-column-start: 1;
    grid-column-end: 3;
}